*{  font-family: 'montserrat';
    margin: 0;
    padding: 0;
}

  
    
.corpo{height: 100%;
    position: relative;
}

.enviar{
    width: 80px;
    margin: 20px;
    height: 30px;
    
}

input{
    border-color: rgb(220, 203, 203);
    border-style: solid;
    border-radius: 7px;
    height: 20px;
  
    justify-content: center;
    width: 250px;

}
#moldura{ align-items: center;
    background-color: rgba(220, 203, 203, 0.5);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    margin: 0px; 
    margin-top: 20px;
    width: 95%;
}
#modal > h1{color: #6f4584;
   font-family: 'Roboto', sans-serif; 
   margin-top: 10px;
   text-align: center;
    
    
}

label{
    margin-top: 15px;
    margin-bottom: 0;
    color: #6f4584;
    font-weight: bold;
}

.inativo{
    opacity:0;
    z-index:-1;
}
.ativo{
    opacity:100%;
    z-index:2;
}
#modal{
    align-items:center;
    background-color:rgba(250, 250, 250, 0.8);
    display: flex;
    flex-direction: column;
    height:100vh;
    justify-content:center;
    position:absolute;
    top:0px;
    transition:0.5s;
    width:99.1vw;
}
#bolinha{
    background-color:#6f4584;
    border-radius:50%;
    height:20px;
    margin:0 0 0 60vw;
    width:20px;
}
#bolinha:hover{
    cursor: pointer;
}
textarea{
    border-radius: 10px;
    border-color: rgb(220, 203, 203);
}

@media (min-width:500px){
#moldura{
    
    width: 80%;
}

}

@media (min-width:700px){
#moldura{
    
    width: 60%;
}

}

@media (min-width:900px){
    #moldura{
        
        width: 40%;
    }
    
    }
    

@media (min-width:1024px){
   
    #moldura{
        
        width: 60%;
    }
    .enviar{
        width: 100px;
        font-size: 16px;
    }
    input{
        width: 300px;
    }
    label{
        font-size: 18px;
    }
    textarea{
        width: 500px ;
        height: 250px;
    }
     


    }