*{
    margin: 0;
    color: whitesmoke;
} 

/*  LABEL: LETRASZINHAS
    FORM: NEGOCIO TODO
    FORM INPUT: BOTOESZINHOS*/

form{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0px; 
    background-color: white;
}

form input{
    margin: 5px;
    height: 30px;
    border-style: hidden;
    justify-content: center;
    width: 250px;
    background-color: rgba(187, 170, 170, 0.212);
  
}
label{
    font-family: 'Oswald' , sans-serif;
    font-size: 20px;
    margin-top: 15px;
    color:rgb(114, 45, 114);
    text-decoration-style: none;
}
input[type="submit"]{
    background-color: #6f4584;
    font-family: 'Oswald' , sans-serif;
    font-size: 20px;
    text-decoration-style: dotted;
    margin-top: 40px;
    height: 6vh;
}
.nav-base {
    align-items: center;
    background-color: #6f4584;
    display: flex;
    justify-content: space-between;
    font-family: 'Major Mono Display', monospace;
}

.nav-base img {
    margin-left: 2px;
    width: 60px;
}

.nav-base p {
    font-family: 'Major Mono Display', monospace;
    text-decoration-style: solid;
    font-size: 35px;
    margin-right:35px;
}

@media (min-width:400px){
    form{
        justify-content: space-between;
        margin-left:10%;
        margin-top: 5%;
        width: 69%;
    }
    form input{
        margin-left: 12.5%;
        width: 70%;
    }
    label{
        margin-left: 10vw;
    }
           
