*{ margin:0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
   
}
body{
    background-image: url('/static/images/logo-bg.png');
    background-size: 500px;
    z-index: -1;
}

a{color: #704483;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
}
a:hover{
    background-color: #e3dfe6;   
}
a h4:hover{
    background-color: #e3dfe6;
}
.barra{
    background-color: #f5f1f7  ;
    height: 100%;
    width: 200px;
    position: absolute;
    transition: all .2s linear; 
    left: -200px;
}
.bloco-desafios-gerais{
    background-color: #d5bfcb3d;
    border-radius: 10px;
     margin: 10px;
     padding: 5px 5px; 
    justify-content: space-between;
}
.bloco-desafios-gerais div{
    align-items: center;
    margin-top: 10px;
    padding: 5px 5px;

}
.bloco-desafios-respondidos{
    background-color: #d5bfcb3d;
     border-radius: 10px;
     margin: 10px;
     padding: 5px 5px; 
     justify-content: space-between;
    
   
}
.bloco-desafios-respondidos div{
    align-items: center;
     padding: 5px 5px;
    margin-top: 5px;

}
.cabecalho{
    align-items: flex-end;
   display: flex;
   flex-direction: column;
   margin-top:10px;   
   color: #704483;
   font-family: 'Oswald', sans-serif;
   padding: 10px;
  
}
.cabecalho > p{
    color: white;
}
.cabecalho > img{
 border-radius:50%;
 width:100px; 
 height:100px;
 }
 

#check{
    display: none;
}

#check:checked ~ .barra{
    transform: translateX(200px);
    
    }

#conteudo{
    display:flex;
    flex-direction: column;
}
.desafio{
    box-shadow: 5px 5px 5px rgba(0,0,0,0.1); 
    padding: 5px 5px;
    margin-top:10px;
    margin-left: 10px;
    width:90%;
}
.desafios-criados{
    background-color:#d5bfcb3d;
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    margin: 20px;
    padding: 5px 5px; 
    justify-content: space-between;
    
    
   
}

.desafios-criados div{
    align-items: center;
     padding: 5px 5px;
}

.desafio-geral{
    box-shadow: 5px 5px 5px rgba(0,0,0,0.1); 
    
    
}
.desafio-respondido{
    box-shadow: 5px 5px 5px rgba(0,0,0,0.1); 
}
footer {
    align-items: center;
    background-color: #cbbcd2;
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 0px;
    width: 100%;
}
 footer img{
    margin-right: 5px;
    margin-top: 3px;
     width: 30px;
 }
footer p, a{
    color: #979797;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

.h2-desafios-gerais{
    color: #704483;
    font-family: 'Oswald', sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
}
.desafio-geral-conteudo{
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}
#icone{
    cursor: pointer;
    padding: 15px;
    position: absolute;
    z-index: 1;
}
label img{
    width: 30px;

}
.likes{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #868282;
    font-size: 12px;
}
.link{
    background-color: #d5bfcb;
    padding: 20px;
    font-size: 12px;
    transition: all.2s linear;
    color: #f4f4f9;
    border-bottom: 2px solid #f9f4f4;
   
    
    

}
.link:hover{
background-color: #9d94a1;
}
.msg{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-right:50px;
    
  
  }

.nav-base { align-items: center;
    background-color: #6f4584;
    display: flex;
    justify-content: space-between;
    padding: 20px 0 20px 0;
   
} 
.nav-base img{
    margin-left: 2px;
    width: 60px;
    
}
.nav-base p{
    color: white;
    font-family: 'Major Mono Display', monospace;
    font-size: 35px;
    margin-right:35px;
    
} 
.nav-menu{width: 100%;
    position: absolute;
    top: 60px;

}
.nav-menu a {
    text-decoration: none;
}
.p-desafios-respondidos{
    text-align: center;
    color: #704483;
    display: block;
    font-family: 'Oswald', sans-serif;
    align-items: center;
    display: flex;
    justify-content: center;
    font-weight: bold;

}

.responder{
    font-size: 13px;
}

.respostas{
    color: #868282;
}

.seus-desafios{
    text-align: center;
    color: #704483;
    display: block;
    font-family: 'Oswald', sans-serif;
    align-items: center;
    display: flex;
    justify-content: center;
    font-weight: bold;
    
    
}

.titulos{
    color: #baaac1;
    font-family: 'Oswald', sans-serif;
    padding: 2px;

}

.te-desafia{
    color: #868282;
}
.tema{
    color: #6e4981;
}
.tema-valor{
    color: #868282;
}
.titulos-gerais{
    color: #baaac1;
    font-family: 'Oswald', sans-serif;
    padding: 2px;

}
.titulos-respondidos{
    color: #baaac1;
    font-family: 'Oswald', sans-serif;
    padding: 2px;

}

.responder{
    font-size: 13px;
}

@media (min-width:400px){
    .bloco-desafios-gerais{
        justify-content: space-between;
        margin-left:15.5%;
        width: 69%;

    }
    .bloco-desafios-gerais div{
        margin-left: 12.5%;
        width: 75%;


    
    }
    .bloco-desafios-respondidos{
        justify-content: space-between;
        margin-left:15.5%;
        width: 69%;
       
    }
    .bloco-desafios-respondidos div{
        margin-left: 12.5%;
        width: 75%;


    
    }
    
    .desafios-criados{
        justify-content: space-between;
        margin-left:15.5%;
        width: 69%;

        
    }
    .msg{
        margin-left: 18%;
        margin-right:50px;
      
      }
}

@media (min-width:768px){
    .desafios-criados{
        flex-direction: row-reverse;
    }
    .cabecalho{
        margin-right: 10%;
    }
    .desafio{
        width:95%;
    }
}

@media (min-width:1024px){
    .cabecalho{
        margin-right: 15%;
    }
    .cabecalho > img{
        height: 200px;
        width: 200px;
    }
} 