*{
    margin: 0;
    
} 

/*  LABEL: LETRASZINHAS
    FORM: NEGOCIO TODO
    FORM INPUT: BOTOESZINHOS*/

body{
    align-items: center;
    background-color: #cbbcd2;
    display:flex;
    flex-direction: column;
    justify-content: center;
}   
form{
    align-items: center;
    background-color:white;
    border-radius: 30px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    

}

form input{ 
    background-color: rgba(187, 170, 170, 0.212);
    border-radius: 30px; 
    border-style: hidden;
    color: #6f4584;
    height: 30px;
    justify-content: center;
    margin: 5px;
    padding-left:30px;
    
}
footer{
 align-items: center;
 background-color: #f1eded;
 display: flex;
 justify-content: space-between;
 margin-top: 10px;
 width: 100%;
}
footer img{
    margin-right: 5px;
    margin-top: 3px;
    width: 30px;

}
footer p , a{
    color: grey;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

input{
    font-size: 20px;
    text-align: center;
}
input[type="submit"]{
    background-color: #6f4584;
    color: whitesmoke;
    font-family: 'Oswald' , sans-serif;
    font-size: 20px; 
     height: 6vh;
    text-decoration-style: dotted;
    margin-top: 40px;
  
}
label{
     color: #6f4584;
    font-family: 'Oswald' , sans-serif;
    font-size: 20px;
   
    
}
.nav-base {
    align-items: center;
    background-color: #6f4584;
    
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    font-family: 'Major Mono Display', monospace;
    width: 100%;
}

.nav-base img {
    margin-left: 2px;
    width: 60px;
}

.nav-base p {color: white;
    font-family: 'Major Mono Display', monospace;
     font-size: 35px;
    margin-right:35px;
    text-decoration-style: solid;
}

@media (min-width:400px){
    form{
        align-items: center;
        justify-content: center;
        width: 69%;
    }
    form input{
        width: 50%;
    }
}