.carinha_triste{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 6%;
}
body{
    background-color: rgb(204, 185, 223);
    font-family: 'Quicksand', sans-serif;
    font-display: flex;
    font-size: 20pt;
    color:rgb(104, 38, 180);
    display: flex;
    justify-content: center;
    align-items: center;


    
}
