*{ 
    margin:0;
    padding: 0;
}

body{
    display: grid;
    grid-template-areas: 'navbar navbar navbar'
                         'header header header'
                         'section section section'
                         'footer footer footer';
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 12vh 40vh 50vh 7vh;
    
}
.bloco-desafios{
    grid-area: section;
    background-color:#d5bfcb3d;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 10px;
    margin-left: 15%;
    width: 70%;
    }
.desafios{
     box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
     margin-left: 5%;
     margin-bottom: 15px;
     text-align: center;
     width: 90%;
     
    
   
}
 header{
     grid-area: header;
 }
.perfil{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    color:#979797;
    background-color: #d5bfcb3d;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 70%;
    margin-left: 15%;
}

.perfil div{
    text-align: center;
}
.perfil h1{
    font-size: 30px;
    color: #6f4584;
}
.perfil h3 {
    color: #6f4584;
}
.perfil img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
footer{ 
    align-items: center; 
    background-color: #cbbcd2;
    grid-area: footer;
    display: flex;
    justify-content: space-between;
    width: 100%;
    
  
    
    }
    

footer img{
    margin-right: 5px;
    margin-top: 3px;
    width: 30px;
}

footer p{
    color: #979797;
    font-family: 'Montserrat';
    margin-left: 5px;

}

footer p a{
    color: #979797;
    text-decoration: none;
}
.nav-base { align-items: center;
    background-color: #6f4584;
    display: flex;
    justify-content: space-between;
    grid-area: navbar;
} 
.nav-base img{
    margin-left: 2px;
    width: 60px;
   
    
}
.nav-base p{
    color: white;
    font-family: 'Major Mono Display', monospace;
    font-size: 35px;
    margin-right:35px;
    
} 

