 {% load staticfiles %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="{% static 'images/logo-redondo.jpeg'%}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/styleerror.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
    <title>Error</title>
</head>



<body>

    <div class="carinha_triste">
        <img src="{% static 'images/cancel.png'%}" alt="Icone informado um erro na página direcionada, em que, o usuário verá uma emogi de carinha triste">
    </div>

    <h1>Ops, o seu desafio agora é encontrar essa página!!!</h1>

</body>



</html>