{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="{% static 'images/logo-redondo.jpeg'%}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/stylehome.css' %}">
    <link rel="stylesheet" href="{% static 'css/styledesafiar.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Major+Mono+Display|Montserrat|Oswald|Roboto&display=swap" rel="stylesheet">
    <script src="{% static 'scripts/modalCriarDesafio.js' %}" defer></script>
    <title>Dare</title>
</head>

<body> 
  


        <nav class="nav-base"><img src="{% static 'images/logo-redondo.jpeg'%}" alt="">
            <p>Dare</p>
            <p></p>
        </nav>





 <input type="checkbox" id="check">
    <label id="icone" for="check"><img src="{% static 'images/menu.png' %}" alt=""></label>
    <div class="barra">
        <nav class="nav-menu">
            <p>
                <div class="link" id="desafiar">Desafiar</div>
            </p>
              <a href="">
                <div class="link">Configurações</div>
            </a>
        </nav>
    </div>
    
    

    <div id="conteudo">

        <div id=seus-desafios>
            <div class="desafios-criados">
                
                <div class="cabecalho">
                    <form action="/avatar/{{ perfil.id }}" method="POST" enctype="multipart/form-data" style="display: flex; flex-direction: column; margin-top:10px;">
                        {% csrf_token %}
                        <input type="file" name="avatar">
                        <input type="submit" value="Mudar avatar" style="margin: 10px 0 15px 0;">
                    </form>
                    <img src="/media/{{ perfil.avatar }}" alt="">
                    <h1>{{ perfil.nome }}</h1>
                </div>
                <div style="display: flex; flex-direction: column; width: 98%;">
                        <p class="msg">{{ msg }}</p>
                        {% for criado in criados %}
                        <div class="desafio">
                            <p class="respostas" style="margin-left: 60%;">{{ criado.respostas }} respostas</p>
                            <div style="display: flex; flex-direction: column; align-items: flex-start;">
                                <a href="/desafio/{{ perfil.id}}/{{ criado.desafio.id }}" target="_blank" rel="noopener noreferrer">
                                    <h4>Título: {{ criado.desafio.titulo }}</h4>
                                </a>
                                <p class="tema">Tema: <p class=tema-valor>{{ criado.desafio.tema }}</p>
                            </p>
                            <p class="titulos">{{ nomeado.desafio.valor }}</p>
                            </div>
                            
                            <section class="likes" style="margin-left: 45%;">
                                {% if criado.like != 'Sem likes!!' %}
                                likes -
                                <a href="/{{ criado.like }}" target="_blank" rel="noopener noreferrer">
                                    {{ criado.like }}
                                </a>
                                e mais {{ criado.likes }} pessoas...
                            </p>
                            {% else %}
                            <p>{{ criado.like }}</p>
                            {% endif %}
                            </section>
                            <a href="/delete/{{ perfil.id }}/{{ criado.desafio.id }}" style="padding: 20px;">Excluir</a>
                            <p class="titulos" style="font-size:8pt;margin-left:40%;">{{ criado.desafio.criacao }}</p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        
        <h2 class="p-desafios-respondidos">DESAFIOS RESPONDIDOS:</h2>
        <div class="bloco-desafios-respondidos">
            <p></p>
            <div>
                {% for elem in respostas %}
                <div class="desafio-respondido">
                    <p></p>
                    <a href="/desafio/{{ perfil.id}}/{{ elem.resposta.desafio.id}}" target="_blank" rel="noopener noreferrer">
                        <h4>Título:{{ elem.resposta.desafio.titulo }}</h4>
                        
                    </a>
                    <p class=titulos-respondidos style="font-size:8pt;">{{ elem.resposta.desafio.criacao }}</p>
                    <section class="likes">
                        {% if elem.like != 'Sem likes!!' %}
                        likes -
                        <a href="/{{ criado.like }}" target="_blank" rel="noopener noreferrer">
                            {{ elem.like }}
                        </a>
                        e mais {{ elem.likes }} pessoas...
    
                        {% else %}
                        <p>{{ elem.like }}</p>
                        {% endif %}
                    </section>
                </div>
                {% endfor %}
        </div>
        <p></p>
        
    </div>
    
    <div id="responder">
        <h2 class="h2-desafios-gerais">DESAFIOS GERAIS:</h2>
        <div class="bloco-desafios-gerais">
            
            {% for item in gerais %}
            
            <div class="desafio-geral">
                <h4 class="te-desafia">
                    <img src="/media/{{ item.desafio.autor.avatar }}" alt="" width="60px" height="60px" style="border-radius:50%;">
                    <a href="/{{ item.desafio.autor.user }}" target="_blank"
                    rel="noopener noreferrer">{{ item.desafio.autor.user }}</a> te desafia!!
                </h3>
                <div class="desafio-geral-conteudo">
                    <a href="/desafio/{{ perfil.id }}/{{ item.desafio.id }}" target="_blank" rel="noopener noreferrer">
                        <h4>Título: {{ item.desafio.titulo }}</h4>
                    </a>
                    <p class="tema">Tema: <p class="tema-valor">{{ item.desafio.tema }}</p>
                </div>
                <section class="likes">
                    {% if item.vc == None %}
                    <p>{{ item.likes }} pessoas deram like..</p>
                        {% else %}
                        <p style="font-size: 10pt;">{{ item.vc }}{{ item.likes }} pessoas deram like...</p>
                        {% endif %}
                    </section>
                    <p class="titulos" style="font-size:8pt;margin-left:80%;">{{ item.desafio.criacao }}</p>
                </div>
                
                
                {% endfor %}
            </div>
        </div>
    </div>
    </div></div>
    <footer>
        <p><a href="https://mail.google.com/mail/u/0/?hl=pt-BR&view=cm&tf=1&fs=1&to=amanda_sj12%40hotmail.com" >Email</a></p>
        <p>Desenvolvido por alunos da academia Mastertech</p>
        <p><img src="{% static 'images/estacao-logo.png'%}" alt=""></p>
    </footer>


    <div id="modal" class="inativo">
        <div id="bolinha"></div>
        <form action="" method="post" id="moldura" class="inativo">
            {% csrf_token %}
            {{ form }}
            <input class="enviar" type="submit" value="Criar">
        </form>
        <h1>Crie seu desafio</h1>
    </div>

</body>
</html>


